<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Mk-JD2-82-21 JDBC</display-name>

    <!-- Choose SQL or HIBERNATE before start -->
    <context-param>
        <param-name>StorageType</param-name>
        <param-value>HIBERNATE</param-value>
    </context-param>

    <listener>
        <listener-class>by.it_academy.jd2.Mk_JD2_82_21.jsp_homework.controller.listener.StorageInitializer</listener-class>
    </listener>
</web-app>